h2, h3 {
    color:red;
    font-size:35px;
    
}
p,p {
    color:black;
    font-size: 25px;
}
    
h1 {
    color:deeppink;
    font-size: 80px;
}
body {
    background: url(http://lh6.googleusercontent.com/-Kq4lAvptCPw/VCgWjwBWj3I/AAAAAAAAB08/-JT07jIBwBE/s1600/%255Bimagenes.4ever.eu%255D%252Bdelfines,%252Bmar%252B157987.jpg)no-repeat bottom right;
    background-size:cover;
